---
import SectionLayout from "../../../core/layouts/SectionLayout.astro";
import AboutCard from "../components/AboutCard.astro";
import PersonIcon from "../../../core/assets/icons/system/PersonIcon.astro";
import ServiceIcon from "../../../core/assets/icons/system/ServiceIcon.astro";
import getServices from "../../../core/content/data/service.ts";
import type { Locale } from "../../../core/types/Locales.ts";
import CodeIcon from "../../../core/assets/icons/system/CodeIcon.astro";
import getCoreSkills from "../../../core/content/data/coreSkills.ts";
import GameIcon from "../../../core/assets/icons/system/GameIcon.astro";
import getNerdThings from "../../../core/content/data/nerdThings.ts";
import MusicIcon from "../../../core/assets/icons/system/MusicIcon.astro";
import BuildIcon from "../../../core/assets/icons/system/BuildIcon.astro";
import { getEntry, render } from "astro:content";
const locale = Astro.currentLocale!;
const services = await getServices(locale as Locale);
const core = await getCoreSkills();
const hobbies = await getNerdThings(locale as Locale);
const { data, Content } = await (async () => {
  const entry = await getEntry("about", locale);
  if (!entry) throw new Error("Could not find entry");
  return {
    data: entry.data,
    Content: (await render(entry)).Content,
  };
})();
---
<SectionLayout description={data.subtitle} id="about" title={data.title}>
  <PersonIcon slot="icon"/>
  <div class="grid sm:grid-cols-2 gap-2 md:gap-5">
    <AboutCard className="sm:col-span-2" title={data.resume}>
      <PersonIcon slot="icon"/>
      <Content />
    </AboutCard>
    <AboutCard title={data.purpose} className="sm:col-span-2">
      <BuildIcon slot="icon"/>
      {data.purposeDat}
    </AboutCard>
    <AboutCard title={data.interests}>
      <GameIcon slot="icon" />
      <div class="flex flex-col gap-4">
        <ul class="grid gap-1.5">
          {hobbies.music.map(music => (
            <li class="flex items-center justify-between">
              {music.name}
              <div class="flex items-center gap-0.5">
                {Array.from({length: music.preference}).map(()=> (
                  <figure class="w-5 h-5 text-primary-active">
                    <MusicIcon />
                  </figure>
                ))}
              </div>
            </li>
          ))}
        </ul>
        <ul class="flex items-center gap-1 flex-wrap">
          {hobbies.hobbies.map(hobb => (
            <li class="px-2 py-0.5 rounded-md bg-muted text-sm capitalize">{hobb}</li>
          ))}
        </ul>
      </div>
    </AboutCard>
    <AboutCard title={data.skills} className="xl:col-span-2">
      <CodeIcon slot="icon"/>
      <ul class="grid grid-cols-2 gap-2">
        {core.map(skill => (
          <li class="flex items-center gap-2 font-light capitalize">
            <figure class="w-7 h-7 p-0.5 rounded-md">
              <skill.icon/>
            </figure>
            {skill.label}
          </li>
        ))}
      </ul>
    </AboutCard>
    <AboutCard title={data.services}>
      <ServiceIcon slot="icon"/>
      <ul class="grid grid-cols-2 gap-2">
        {services.sort((a,b) => b.proficiency-a.proficiency).slice(0,5).map(service => (
          <li class="flex items-center gap-1">
            <figure class="w-[3px] h-full bg-primary rounded-l-md"/>
            {service.name}
          </li>
        ))}
      </ul>
    </AboutCard>
  </div>
</SectionLayout>
