---
import "../styles/skills.css"
import getSkills from "../../../core/content/data/skills.ts";
import type {Locale} from "../../../core/types/Locales.ts";
import SectionLayout from "../../../core/layouts/SectionLayout.astro";
import {getEntry} from "astro:content";
import IdeaIcon from "../../../core/assets/icons/system/IdeaIcon.astro";
import SkillCategory from "../components/SkillCategory.astro";
const locale = Astro.currentLocale!;
const entry = (await getEntry("skills", locale));
if(!entry) throw new Error("content labels not found!");
const categories = await getSkills(locale as Locale);
---
<SectionLayout id="skills" title={entry.data.title} description={entry.data.subtitle}>
  <IdeaIcon slot="icon"/>
  <div class="categories_container">
    {categories.map((category, colIndex) => (
      <SkillCategory category={category} frequency={entry.data.frequency} proficiency={entry.data.proficiency}/>
    ))}
  </div>
</SectionLayout>
