---
import ContactLabel from "../atom/ContactLabel.astro";
interface Props {
  name: string,
  label: string,
  placeholder: string,
  required?: boolean,
}
const {name, label, placeholder, required} = Astro.props;
---
<div class="contact_input col-span-2">
  <ContactLabel label={label} nameFor={name} required={required} />
  <textarea id={name} name={name} placeholder={placeholder} class="contact-input min-h-32 max-h-52 resize-y"
            required={required}/>
</div>
